.card-container {
  min-width: 150px;
  max-width: 500px;
  width: 90%;
  border-radius: 5px;
  background-color: #eae9ef;
  margin: 10px 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: none;
  overflow: hidden;
  /* height: 400px; */
}

.card-container h3 {
  color: #000;
  padding: 0px 10px;
  margin-top: 8px;
  margin-bottom: 0;
  font-weight: 600;
}

.card-container .description {
  color: #000;
  padding: 0px 10px;
  margin-bottom: 8px;
  margin-top: 10px;
  height: 200px;
  /* height: 100%; */
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-container .author {
  color: #555;
  /* padding: 0px 10px; */
  margin: 0;
}

.card-container img {
  display: block;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-container .price {
  margin: 0;
  color: #000;
  text-decoration: none;
  font-weight: 500;
}

.card-container .like-button {
  padding: 10px 10px;
  /* background-color: #ff4444; */
  color: #212529;
  border-top: 1px solid #21252930;
  cursor: pointer;
  transition: 0.15s;
}

.like-button.clicked {
  background-color: #ff4444;
  color: white;
  transition: 0.15s;
}
