.Footer-footer {
  background-color: #413c58;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 0.5vmin); /* half the font size of the header */
  color: #a5ffd6;
}
