.Header-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header-header {
  background-color: #413c58;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 1vmin);
  color: #a5ffd6;
}

.logo {
  display: block;
  padding: 1em;
}

.nav-links {
  list-style: none;
}
.nav-item {
  display: inline-block;
  align-items: left;
  padding: 1em;
}
.nav-item a {
  color: #a5ffd6;
  text-decoration: none;
}

.nav-item:hover a {
  color: gray;
}

.logo img {
  width: 200px;
  vertical-align: sub;
}
