.Home-home {
  background: ivory;
}
.h1-home {
  align-items: center;
  justify-content: center;
  font-size: calc(2em + 0.5vmin);
  color: #413c58;
  font-family: Calibri, "Trebuchet MS", sans-serif;
  padding: calc(5px + 0.5vmin);
  background: white;
}
.p1-home {
  align-items: center;
  justify-content: center;
  font-size: calc(1em + 0.5vmin);
  color: #413c58;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 10px;
}
/*Slideshow*/
.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 100vw;
  max-height: auto;
  vertical-align: top;
}
.slide {
  display: inline-block;
  min-height: 300px;
  min-width: auto;
  max-width: 100vw;
  object-fit: cover;
  border-radius: 20px;
}
.slideshowSlider {
  transition: ease 1000ms;
  white-space: nowrap;
}
/* Buttons */
.slideshowDots {
  text-align: center;
}
.slideshowDot {
  display: inline-block;
  vertical-align: top;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  margin: 15px 7px 10px;
  background-color: #c4c4c4;
}
.slideshowDot.active {
  background-color: #dd7596;
}

.gallery {
  --s: 30vw; /* controls the size */
  --maxs: 400px;
  --g: 3vw; /* controls the gap */
  --maxg: 40px;
  display: grid;
  margin: 0 auto;
  gap: var(--g);
  width: calc(
    3 * var(--s) + 2 * var(--g)
  ); /* 3 times the size plus 2 times the gap */
  max-width: calc(3 * var(--maxs) + 2 * var(--maxg));
  aspect-ratio: 1;
  grid-template-columns: repeat(3, auto);
  padding: 2vw;
}

.gallery img {
  width: 0;
  height: 0;
  min-height: 80%;
  min-width: 100%;
  object-fit: cover;
  border-radius: 20%;
}

.gallery img:hover {
  border: 5px solid #b7c3f3;
}

.gallery desc {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: clamp(15px, 2vw, 25px);
  color: #413c58;
}
.gallery artists {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: clamp(10px, 2vw, 20px);
  margin: 0 auto;
  color: #413c58;
}

.gallery .gallery-artist-link {
  padding: 0 auto;
  margin: 0 auto;
}
.gallery p {
  line-height: 15px;
  margin-bottom: 20px;
}
.g-back {
  background: white;
  background-blend-mode: screen;
}
