.Home-home {
    background: ivory;
}
.h1-home{
    align-items: center;
    justify-content: center;
    font-size: calc(2em + 0.5vmin); 
    color:#413c58;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    Padding: calc(5px + 0.5vmin);
    background: white;
}
.p1-home{
    align-items: center;
    justify-content: center;
    font-size: calc(1em + 0.5vmin); 
    color: #413c58;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    Padding: 10px ;
}
/*Slideshow*/
.slideshow{
    margin: 0 auto;
    overflow: hidden;
    max-width:500 px;
    padding: 5px;
    vertical-align: top;
}
.slide{
    display: inline-block;
    width: auto;
    height: 300px;
    border-radius: 20px;
}
.slideshowSlider{
    transition: ease 1000ms;
    white-space: nowrap;
}
/* Buttons */
.slideshowDots {
    text-align: center;
}
.slideshowDot {
    display: inline-block;
    vertical-align:top;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
    margin: 15px 7px 10px;
    background-color: #c4c4c4;
  }
  .slideshowDot.active {
    background-color: #dd7596;
  }

  .gallery {
    --s: 30vw; /* controls the size */
    --g: 3vw;  /* controls the gap */
  
    display: grid;
    gap: var(--g);
    width: calc(3*var(--s) + 2*var(--g)); /* 3 times the size plus 2 times the gap */
    aspect-ratio: 1;
    grid-template-columns: repeat(3, auto);
    padding: 2vw;
  }

  .gallery img {
    width: 0;
    height: 0;
    min-height: 80%;
    min-width: 100%;
    object-fit: cover;
    border-radius: 20%;
  }

  .gallery img:hover{
    border: 5px solid #b7c3f3;
  }
 
  .gallery desc{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 3vw;
    font-size:  2.5vw ; 
    color: #413c58;
  }
  .gallery artists{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 2.5vw;
    font-size:  2vw ; 
    color: #413c58;
  }

.gallery desc{
  padding-bottom: 0px;
}
  .gallery .gallery-artist-link{
    padding: 0;
    margin: 0;
  }

  .g-back{
    background:white;
    background-blend-mode: screen;
  }
  