.intro-text {
    font-size: calc(5px + 1vmin);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title {
  padding-top: 20px;
  font-size: 20px;
}

.product-listing-photo {
    width: 300px;
  vertical-align: middle;
}

.description {
  padding: 10px 100px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.profile-link {
    display: inline-block;
}
.profile-link a {
color: black;
text-decoration: none;
}

.profile-link:hover a {
color: gray;
}







