.checkboxall{
    display: list-item;
  grid-template-columns: 20px;
  gap: 5px;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.5;
}
.p1-upload{
    align-items: left;
    justify-content: left;
    font-size: 15px; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    Padding: 5px ;
}
